aside>div {
	height: fit-content;
	width: calc(var(--aside-width) - 2*16px);

	margin: 0;
	border: 0;
	padding: 16px;

	overflow-x: hidden;
	overflow-y: hidden;
}

aside>div>h4 {
	margin: 16px;

	overflow: hidden;
	text-overflow: ellipsis;
}

aside form {
	height: inherit;
	width: inherit;

	margin: 0;
	border: 0;
	padding: 0;

	border-radius: calc(var(--input-height) / 2);

	display: grid;

	overflow-x: hidden;
	overflow-y: hidden;

	background: var(--quatary);
}

aside form>label {
	height: var(--input-height);
	width: calc(var(--aside-width) - 2*16px - 2*12px);

	margin: 0;
	border: 0;
	padding: 0;

	padding-left: 12px;
	padding-right: 12px;

	display: flex;
	align-items: center;

	cursor: pointer;
}

aside form>label>svg {
	height: 28px;
	width: 28px;

	margin-right: 12px;
}

aside form>label>div {
	height: 100%;
	width: calc(var(--aside-width) - 2*16px - 2*12px - 28px - 12px);

	border-top: 0.7px solid var(--trans-primary);
	border-bottom: 0.7px solid var(--trans-primary);

	display: flex;
	align-items: center;
	justify-content: space-between;
}

aside form>label:first-of-type>div {
	border-top: 0;
}

aside form>label:last-of-type>div {
	border-bottom: 0;
}

aside form>label>div>svg {
	fill: var(--trans-primary);

	height: 28px;
	width: 28px;
}