:root {
	--header-height: 68px;
	--aside-width: 0px;
}

@media (max-width: 600px) {
	:root {
		--input-height: 52px;
		--aside-width: 100vw;
	}

	body:has(aside:is([open])) {
		overflow-y: hidden;
	}

	dialog {
		border-radius: 0px;

		top: 0%;
		left: 0%;

		width: 100%;
		height: 100%;
	}

	dialog::backdrop {
		background-color: var(--quatary);
	}
}

@media (min-width: 600px) {
	:root {
		--input-height: 44px;
		--aside-width: 345px;
	}

	dialog {
		border-radius: calc((var(--header-height) - 6px) / 2);

		left: 15%;
		top: 7.5%;

		width: 70%;
		height: 85%;
	}

	dialog::backdrop {
		background-color: #000000ba;
	}
}

html {
	scrollbar-gutter: stable;
	background-color: var(--secondary);
}

html:has(dialog:is([open])) {
	background-color: var(--quatary);
}

body {
	position: absolute;
	top: 0;
	left: 0;

	height: fit-content;
	width: 100%;

	min-height: calc(100vh - var(--header-height));

	margin: 0;
	border: 0;
	padding: 0;

	padding-top: var(--header-height);
	padding-left: 0px;

	overflow-x: hidden;
	overflow-y: scroll;

	display: flex;
	justify-content: center;

	fill: var(--primary);
	color: var(--primary);

	background-color: var(--secondary);

	font-family: sans-serif;
	font-size: 16px;

	white-space: nowrap;

	transition:
		padding-left 0.2s,
		width 0.2s;
}

body:has(dialog:is([open])) {
	overflow-y: hidden;
}

body:has(aside:is([open])) {
	width: calc(100% - var(--aside-width));
	padding-left: var(--aside-width);
}

header {
	position: fixed;
	top: 0;
	left: 0;

	height: calc(var(--header-height) - 2*6px);
	width: calc(100% - 2*6px);

	margin: 0;
	border: 0;
	padding: 6px;

	display: flex;

	justify-content: space-between;

	overflow-x: hidden;
	overflow-y: hidden;

	backdrop-filter: blur(3px);
	-webkit-backdrop-filter: blur(3px);
}

aside {
	position: fixed;
	top: var(--header-height);
	left: 0;

	height: calc(100% - var(--header-height));
	width: 0px;

	margin: 0;
	border: 0;
	padding: 0;

	display: grid;
	justify-content: end;
	align-content: baseline;

	overflow-x: hidden;
	overflow-y: scroll;

	scrollbar-width: none;

	transition: width 0.2s;
}

aside[open] {
	width: var(--aside-width);
}

section {
	height: fit-content;
	width: calc(100% - 2*25px);

	margin: 0;
	border: 0;
	padding: 0;

	padding-left: 25px;
	padding-right: 25px;

	overflow-x: hidden;
	overflow-y: hidden;
}

footer {
	font-size: 14px;
	text-align: center;
}

dialog {
	position: fixed;

	max-height: unset;
	max-width: unset;

	margin: 0;
	border: 0;
	padding: 0;

	overflow-x: hidden;
	overflow-y: scroll;

	justify-items: center;
	align-content: start;

	fill: var(--primary);
	color: var(--primary);

	background-color: var(--quatary);
	scrollbar-width: none;

	outline: unset;
	opacity: 0;
}

dialog[open] {
	display: grid;
	opacity: 1;
}